@import "../../../_variables.scss";

::-webkit-scrollbar {
  display: none;
  width: 0;
}

.GridCommons {
  display: grid;
  @extend .SubGrid;
}

.SubGrid {
  width: 100%;
  height: 100%;
}

.ConatinerTablesOccupation {
  @extend .GridCommons;
  grid-template-rows: 8.5% 58% 9.5% 1fr;
  grid-template-areas:
    "."
    "ZT"
    "."
    "ZB";

  .ZoneTable {
    @extend .GridCommons;
    grid-area: ZT;
    grid-template-columns: 6.7% 1fr 6.7%;
    grid-template-areas: ". T .";

    .Tables {
      display: flex;
      grid-area: T;
      background: $inner-frame;
      height: 300px;
      overflow: auto;
      width: 100%;
    }
  }

  .ZoneButtons {
    @extend .GridCommons;
    grid-area: ZB;
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.5rem;
    grid-template-columns: 5.5% 13.5% 13.5% 13.5% 1fr;
    grid-template-rows: 25% 25% 1fr;
    grid-template-areas:
      ". FR OC RE ."
      ". CH PA . ."
      ". . . . .";

    .BtnFree {
      @extend .GridCommons;
      grid-area: FR;
      justify-content: center;
      align-items: center;
      grid-template-columns: 30% 1fr;
      grid-template-areas: "B T";

      &:hover {
        filter: brightness(110%);
        cursor: pointer;
      }

      .ZoneButton {
        @extend .GridCommons;
        grid-area: B;
        background: $button-free;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        margin-left: 0.13rem;
        align-items: center;
        justify-items: center;

        .InnerCircle {
          background: $button-free;
          border-radius: 50%;
          width: 78%;
          height: 78%;
          margin-left: 0.01rem;
          margin-top: 0.03rem;
          box-shadow: 1px 1px 5px 0px rgba(31, 30, 31, 1);
        }
      }

      .ZoneText {
        @extend .SubGrid;
        grid-area: T;
        color: $font-circle-button;
        font-weight: bold;
        display: flex;
        align-items: center;
        font-size: 0.88rem;
      }
    }

    .BtnOccupied {
      @extend .GridCommons;
      grid-area: OC;
      justify-content: center;
      align-items: center;
      grid-template-columns: 30% 1fr;
      grid-template-areas: "B T";

      &:hover {
        filter: brightness(110%);
        cursor: pointer;
      }

      .ZoneButton {
        @extend .GridCommons;
        grid-area: B;
        background: linear-gradient(
          135deg,
          rgba(255, 175, 75, 1) 0%,
          rgba(255, 183, 1, 1) 100%
        );
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        margin-left: 0.13rem;
        align-items: center;
        justify-items: center;

        .InnerCircle {
          background: $button-Occupied;
          border-radius: 50%;
          width: 78%;
          height: 78%;
          margin-left: 0.01rem;
          margin-top: 0.03rem;
          box-shadow: 1px 1px 5px 0px rgba(31, 30, 31, 0.5);
        }
      }

      .ZoneText {
        @extend .SubGrid;
        grid-area: T;
        color: $font-circle-button;
        font-weight: bold;
        display: flex;
        align-items: center;
        font-size: 0.88rem;
      }
    }

    .BtnReserved {
      @extend .GridCommons;
      grid-area: RE;
      justify-content: center;
      align-items: center;
      grid-template-columns: 30% 1fr;
      grid-template-areas: "B T";

      &:hover {
        filter: brightness(110%);
        cursor: pointer;
      }

      .ZoneButton {
        @extend .GridCommons;
        grid-area: B;
        background: linear-gradient(
          45deg,
          rgba(239, 197, 202, 1) 0%,
          rgba(210, 75, 90, 1) 1%,
          rgba(186, 39, 55, 1) 51%,
          rgba(153, 19, 44, 1) 100%
        );
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        margin-left: 0.13rem;
        align-items: center;
        justify-items: center;

        .InnerCircle {
          background: $button-reserved;
          border-radius: 50%;
          width: 78%;
          height: 78%;
          margin-left: 0.01rem;
          margin-top: 0.03rem;
          box-shadow: 1px 1px 5px 0px rgba(31, 30, 31, 0.5);
        }
      }

      .ZoneText {
        @extend .SubGrid;
        grid-area: T;
        color: $font-circle-button;
        font-weight: bold;
        display: flex;
        align-items: center;
        font-size: 0.88rem;
      }
    }

    .BtnCharge {
      @extend .GridCommons;
      grid-area: CH;
      justify-content: center;
      align-items: center;
      grid-template-columns: 30% 1fr;
      grid-template-areas: "B T";

      &:hover {
        filter: brightness(110%);
        cursor: pointer;
      }

      .ZoneButton {
        @extend .GridCommons;
        grid-area: B;
        background: linear-gradient(
          to right,
          rgba(98, 125, 77, 1) 0%,
          rgba(73, 95, 23, 1) 100%
        );
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        margin-left: 0.13rem;
        align-items: center;
        justify-items: center;

        .InnerCircle {
          background: $button-charge;
          border-radius: 50%;
          width: 78%;
          height: 78%;
          margin-left: 0.01rem;
          margin-top: 0.01rem;
          box-shadow: 1px 1px 5px 0px rgba(31, 30, 31, 0.5);
        }
      }

      .ZoneText {
        @extend .SubGrid;
        grid-area: T;
        color: $font-circle-button;
        font-weight: bold;
        display: flex;
        align-items: center;
        font-size: 0.88rem;
      }
    }

    .BtnPay {
      @extend .GridCommons;
      grid-area: PA;
      grid-template-columns: 30% 1fr;
      grid-template-areas: "B T";

      &:hover {
        filter: brightness(110%);
        cursor: pointer;
      }

      .ZoneButton {
        @extend .GridCommons;
        grid-area: B;
        background: linear-gradient(
          to right,
          rgba(73, 155, 234, 1) 0%,
          rgba(38, 94, 168, 1) 100%
        );
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        margin-left: 0.13rem;
        align-items: center;
        justify-items: center;
        .InnerCircle {
          background: $button-pay;
          border-radius: 50%;
          width: 78%;
          height: 78%;
          margin-left: 0.01rem;
          margin-top: 0.01rem;
          box-shadow: 1px 1px 5px 0px rgba(31, 30, 31, 0.5);
        }
      }

      .ZoneText {
        @extend .SubGrid;
        grid-area: T;
        color: $font-circle-button;
        font-weight: bold;
        display: flex;
        align-items: center;
        font-size: 0.88rem;
      }
    }
  }
}
