@import '../../_variables.scss';

.GridCommons {
    display: grid;
    @extend .SubGrid
}

.SubGrid {
    width: 100%;
    height: 100%;
}

.ContainerList {
  @extend .GridCommons;
  grid-template-columns: 0% 1fr 5.3%;
  grid-template-areas: '. LI .';

  .ListaCheck {
    display: flex;
    grid-area: LI;
    overflow: auto;
    width: 100%;
    flex-direction: column;
    position: relative;
  }
}