@import "../_variables.scss";

.MainContainer {
  display: grid;
  width: 960px;
  height: 600px;
  grid-template-columns: 100%;
  grid-template-areas: "U";

  .AppContainer {
    grid-area: U;
    display: grid;
    background: $main-frame;
    width: 960px;
    height: 600px;
    grid-template-rows: 16.1% 1fr 5.6%;
    grid-template-areas:
      "TB TB ."
      "SB IN ."
      "SB . .";

    /* @media (min-width: 1320px), (min-height: 850px) {
      width: 1024px;
      height: 640px;
      margin: auto;
      margin-top: 1.1rem;
    } */

    .TopBar {
      grid-area: TB;
      width: 100%;
      height: 100%;
    }

    .Content {
      display: flex;
      grid-area: IN;
      background: $inner-frame;
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }

    .SideBar {
      grid-area: SB;
    }
  }
}
